.mainLevelsWrap{
    display: flex;
    flex-direction: column;
}

.levelsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

.mainTitle{
    margin: 20px 0;
}

.delimiter{
    width: 98%;
}
.wrapper{
    width: 100%;
}
.main {
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.144);
}