.customLevelsWrap{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.customLevelWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 235px;
    border-radius: var(--border-radius);
    background-color: var(--bg-level);
    text-decoration: none;
    color: var(--color-white);
    margin-bottom: 20px;
    margin-right: 15px;  
    -o-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; 
    height: 270px;
}
.customLevelWrap:hover{
    transform: scale(1.03);
}
.customLevelWrap header{
    background-color: var(--bg-level-sides);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 10px;
}

.customLevelWrap footer{
    background-color: var(--bg-level-sides);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px 5px 10px;
}
.customLevelWrap main{
    background-color: var(--bg-level);
    height: 200px;
    padding: 10px;
    position: relative;
}
.symbols {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-white);
}
.countInfo {
    padding: 10px;
    width: 160px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainInfoTitle{
    margin: 0 0 10px 0;
    text-align: center;
}
.circle {
    height: 140px;
    width: 140px;
    border: 4px solid var(--color-white);
    border-radius: 50%;
    position: relative;
}
.circle i {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}
.time, .speed, .accuracy {
    color: var(--color-white);
    font-size: 14px;
    margin-bottom: 3px;
}
.speed span{
    font-size: 13px;
}