.keyboard{
    margin-bottom: 10px;
    max-width: 767px;
    padding: 10px 5px;
    background-color: #3cb2f1;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 0 auto;
}
.none{
    display: none;
}
@media screen and (max-width:768px){
    .keyboard{
        display: none;
    }
}