/* .container{
    background-color: var(--bg-body-blue);
} */
.timeBlock{
    background-color: var(--color-white);
    width: 100px;
    border: 4px solid rgb(237, 237, 237);
    border-radius: 15px;
    padding: 5px 10px 4px 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
}

.stats {
    display: flex;
    margin: 20px auto 10px auto;
    justify-content: space-between;
    width: 500px;
}
.statsMisses, .statsSpeed, .statsAccuracy {
    color: var(--color-white);
    font-size: 18px;
}
.statsMisses span,
.statsSpeed span,
.statsAccuracy span{
    color: var(--color-white);
    font-size: 24px;
}   

.levelText {
    min-width: 767px;
    width: 100%;
    margin: 0px auto 40px auto;
    padding: 10px 20px;
    border: 4px solid rgb(237, 237, 237);
    border-radius: 20px;
    background-color: var(--color-white);
    font-size: 30px;
}
.levelTextWrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}
.textInvisible, .textVisible{
    width: 50%;
    height: 100%;
}
.textInvisible{
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.writtenText{
    color: rgb(195, 195, 195);
    white-space: pre;
    text-overflow: clip;
    -o-text-overflow: clip;
    -ms-text-overflow: clip;
}
.writtenText span{
    white-space: pre;
}

.textVisible {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: pre;
}

.pacmanWrap {
    width: 50px;
    height: 50px;
}
@media screen and (max-width:768px) {  
    .stats, .levelText, .timeBlock{
        display: none;
    }
    
}